<h1>Welcome to Idea Box</h1>
<div class="new-idea">
  <%= form_for(@idea, url: { action: "create" }, remote: true) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit "Save" %>
  <% end %>
</div>

<ul id="ideas">
  <%= render @ideas %>
</ul>
